@model List<AssignmentLast.Models.QuizSession>
@{
    var count = 1;
}
<body>
    <style>
        table, th, td {
            border: 3px solid #2f2374;
            border-collapse: collapse;
        }
        table {
            margin: 0 auto;
            width: 900px;
        }
        th, .number {
            text-align: center;
        }
    </style>
    <table>
        <tr>
            <th>S.N.</th>
            <th>Name</th>
            <th>DateTime</th>
            <th>Score</th>
        </tr>
    @foreach(var data in Model)
    {
        <tr>
            <td class="number">@count</td>
            <td>@data.Name</td>
            <td>@data.QuizDate</td>
            <td class="number">@data.Score</td>
            </tr>
            count = count + 1;
        }
    </table>
</body>